nav{
        width: 100%;
    background-color:rgb(3, 3, 95);
    .container4{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 12px;
        display: flex;
        gap: 35px;
        .left{
              width: 500px;
            height: 500px;
            margin-top: 100px;
            .img{
                width: 500px;
                height: 500px;
                object-fit:cover;

            }
        }
        .right{
            width: 500px;
            height: 500px;
            margin-top: 100px;
            .about{
                color: rgb(246, 124, 226);
            }
            h1{
                color: white;
                font-size: 40px;
            }
            p{
                color: rgb(171, 160, 160);
                line-height: 25px;
            }
        }
    }
}